@charset "UTF-8";
/*Em Html é id em css é 
 Em Html é class em CSS é .#*/

body{
    background-color: rgba(63, 255, 63, 0.656);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color: rgb(8, 65, 8);
}
#principal{
    color: aliceblue;
    text-align: center;
    background-color: rgb(0, 188, 0);;

}
h2{
color: rgb(1, 247, 1);
}
p{
    text-align: justify;
}
.basico{
    color: rgb(18, 180, 18);

}
.intermediario{
    color: rgb(176, 193, 23);

}
.avançado{
color: rgb(107, 43, 43);
}